#端口号
server:
  port: 8761

#eureka配置
eureka:
  instance:
    hostname: localhost
  client:
  #表明自己是一个eureka server.
    registerWithEureka: false
    fetchRegistry: false
    serviceUrl:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/


